<ul class="usa-collection">
  {% for item in items %}
  <li class="usa-collection__item">
    {% if item.image %}
      <img class="usa-collection__img" src="{{ item.image.url }}" alt="{{ item.image.alt }}">
    {% endif %}
    <div class="usa-collection__body">
      <h3 class="usa-collection__heading">
        <a class="usa-link" href="{{ item.url }}">{{ item.title }}</a>
      </h3>
      <p class="usa-collection__description">{{ item.description }}</p>
      {% if item.meta %}
      <ul class="usa-collection__meta" aria-label="More information">
        {% for data in item.meta %}
        <li class="usa-collection__meta-item">
          {{ data }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if item.tags %}
      <ul class="usa-collection__meta" aria-label="Topics">
        {% for tag in item.tags %}
        <li class="usa-collection__meta-item usa-tag{% if tag.class %} {{ tag.class }} {% endif %}">
          {{ tag.label }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
