 <header class="{{ header_classes }}" id="header" role="banner">

  {% if page.header_top %}
    <div class="usa-banner-inner">
      {{ page.header_top }}
    </div>
  {% endif %}

  {% if header_basic %}
  <div class="usa-nav-container">
    {% endif %}

    {% block header %}
      {{ page.header }}
    {% endblock %}

    {% block header_search %}
      {% if page.header_search %}
        <div class="grid-container header-site-search padding-2">
          {{ page.header_search }}
        </div>
      {% endif %}
    {% endblock %}

    <nav class="usa-nav" role="navigation">
      {% if header_extended %}
      <div class="usa-nav__inner">
        {% endif %}

        <button class="usa-nav__close">
          <img src="{{ uswds_images }}close.svg" alt="close"/>
        </button>

        {% if page.mobile_menu %}
          <div class="usa-nav-mobile">
            {{ page.mobile_menu }}
          </div>
        {% endif %}

        {% if page.mobile_menu %}
        <div class="usa-nav-desktop">
          {% endif %}

          {% if page.primary_menu %}
            {{ page.primary_menu }}
          {% endif %}

          {% if page.secondary_menu %}
            {% block secondary_menu %}
              {{ page.secondary_menu }}
            {% endblock %}
          {% endif %}

          {% if page.mobile_menu %}
        </div>
        {% endif %}

        {% if header_extended %}
      </div>
      {% endif %}
    </nav>

    {% if header_basic %}
  </div>
  {% endif %}

</header>
