  <footer class="{{ footer_classes }} font-body-sm" role="contentinfo">
    <div class="grid-container usa-footer__return-to-top">
      <a href="#">{{ 'Return to top'|t }}</a>
    </div>

    {% if display_footer_primary %}
      <div class="usa-footer__primary-section">

          <div class="grid-container">
            <div class="grid-row grid-gap">

                  {% if page.footer_menu %}
                    {{ page.footer_menu }}
                  {% endif %}

                  <div class="grid-col-12 mobile-lg:grid-col-6 tablet-lg:grid-col-3">
                   <nav class="usa-footer__nav" aria-label="Footer navigation">
                    <p class="font-body-md text-bold footer-header">Contact NIA</p>
                      <ul class="add-list-reset grid-row grid-gap">
                      {% if email %}
                        <li class="grid-col-12 usa-footer__primary-content">
                          <a class="usa-footer__primary-link text-normal usa-icon-link" href="mailto:{{ email }}">
                            <img class="usa-social-link__icon width-2 margin-right-1" src="{{ uswds_images }}usa-icons/mail.svg" alt="Email icon">{{ email }}
                          </a>
                        </li>
                      {% endif %}
                      {% if phone %}
                        <li class="grid-col-12 usa-footer__primary-content">
                          <a class="usa-footer__primary-link text-normal usa-icon-link" href="tel:{{ phone }}">
                            <img class="usa-social-link__icon width-2 margin-right-1" src="{{ uswds_images }}/usa-icons/phone.svg" alt="Phone icon">{{ phone }}
                          </a>
                        </li>
                      {% endif %}
                        <li class="grid-col-12 usa-footer__primary-content">
                          <a class="usa-footer__primary-link text-normal usa-icon-link" href="/contact">
                            <img class="usa-social-link__icon width-2 margin-right-1" src="{{ uswds_images }}/usa-icons/chat.svg" alt="Contact icon">Contact us
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>


                {% if footer_slim and (footer_phone or footer_email) %}
                  <div class="mobile-lg:grid-col-4">
                    <address class="usa-footer__address">
                      <div class="grid-row grid-gap">

                        {% if footer_phone %}
                          <div
                            class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto">
                            <div class="usa-footer__contact-info">
                              <a
                                href="tel:{{ footer_phone }}">{{ footer_phone }}</a>
                            </div>
                          </div>
                        {% endif %}

                        {% if footer_email %}
                          <div
                            class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto">
                            <div class="usa-footer__contact-info">
                              <a
                                href="mailto:{{ footer_email }}">{{ footer_email }}</a>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    </address>
                  </div>
                {% endif %}

                {% if footer_style != 'slim' %}

                  <div class="grid-col-12 mobile-lg:grid-col-6 tablet-lg:grid-col-3">
                    <nav class="usa-footer__nav" aria-label="Footer navigation">
                      <p class="font-body-md text-bold footer-header">Follow us</p>
                      <ul class="add-list-reset grid-row grid-gap">
                      {% if facebook %}
                        <li class="grid-col-12 usa-footer__primary-content">
                          <a class="usa-footer__primary-link text-normal usa-icon-link" href="{{ facebook }}">
                            <img class="usa-social-link__icon width-2 margin-right-1" src="{{ uswds_images }}/usa-icons/facebook.svg" alt="Facebook icon">Facebook
                          </a>
                        </li>
                      {% endif %}
                      {% if twitter %}
                        <li class="grid-col-12 usa-footer__primary-content">
                          <a class="usa-footer__primary-link text-normal usa-icon-link" href="{{ twitter }}">
                            <img class="usa-social-link__icon width-2 margin-right-1" src="{{ uswds_images }}/usa-icons/twitter.svg" alt="Twitter icon">Twitter
                          </a>
                        </li>
                      {% endif %}
                      {% if linkedin %}
                        <li class="grid-col-12 usa-footer__primary-content">
                          <a class="usa-footer__primary-link text-normal usa-icon-link" href="{{ linkedin }}">
                            <i class="fa-brands fa-linkedin width-2 margin-right-1"></i>LinkedIn
                          </a>
                        </li>
                      {% endif %}
                      {% if youtube %}
                        <li class="grid-col-12 usa-footer__primary-content">
                          <a class="usa-footer__primary-link text-normal usa-icon-link" href="{{ youtube }}">
                            <img class="usa-social-link__icon width-2 margin-right-1" src="{{ uswds_images }}/usa-icons/youtube.svg" alt="YouTube icon">YouTube
                          </a>
                        </li>
                      {% endif %}

                      </ul>
                    </nav>
                  </div>

                  <div class="grid-col-12 mobile-lg:grid-col-6 tablet-lg:grid-col-3">
                    <div class="usa-sign-up padding-top-105">
                      <p class="font-body-md text-bold footer-header">Newsletters</p>
                      <p class="margin-0 padding-y-1">
                        Sign up to receive updates and resources delivered to your inbox.
                      </p>
                      <a class="usa-button usa-nav__link font-body-sm" href="/about/stay-connected">Sign up</a>
                    </div>
                  </div>

                {% endif %}

            </div>
          </div>

      </div>
    {% endif %}

  </footer>
